<div class="container">
  <div class="col-8">
    <% if @user.errors.any? %>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <div class="alert alert-danger"><%= message %></div>
        <% end %>
        </ul>
      <% end %>
    <%= form_with model: @user do |user| %>
      <div class="form-group">
        <%= user.label :username %>
        <%= user.text_field :username, class: 'form-control' %>
      </div>
      <%= user.submit "Sign Up!", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>